<p-table [value]="ventas" dataKey="id" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Venta ID</th>
      <th>Nombre Cliente</th>
      <th>Método de Pago</th>
      <th>Total</th>
      <th>Items</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-venta>
    <tr>
      <td>{{ venta.id }}</td>
      <td>{{ venta.cliente.nombre }}</td>
      <td>{{ venta.metodo_pago }}</td>
      <td>{{ venta.total }}</td>
      <td>
        <ul>
          <li *ngFor="let item of venta.items">
            {{ item.producto.nombre }}, Cantidad: {{ item.cantidad }}, Precio Unitario: {{ item.precio_unitario }}, Total: {{ item.total }}
          </li>
        </ul>
      </td>
    </tr>
  </ng-template>
</p-table>
